* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  margin: auto;
  height: 100%;
  background: rgb(180,187,198);
  background: linear-gradient(90deg, rgba(180,187,198,1) 0%, rgba(255,255,255,1) 11%, rgba(247,247,248,1) 85%, rgba(180,187,198,1) 100%);
  text-align: center;
}

.nav {  
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  width: 100%;
  background-color: rgb(68, 66, 66);
  opacity: .95;
  z-index: 1;
}

.titlebcg {
  background: rgb(47,76,130);
  background: radial-gradient(circle, rgba(47,76,130,1) 35%, rgba(23,145,179,1) 96%);
  background-color: #fffffc;
}

.title {
  padding: 110px 0 20px;
  color: #fff;
  text-align: center;
}

.memTitle {
  margin: 0px auto 10px;
  padding: 10px;
  width: 600px;
    background: rgb(23,145,179);
  background: linear-gradient(180deg, rgba(23,145,179,1) 0%, rgba(47,76,130,1) 48%);
  color: #fff;
  font-size: 20px;
  line-height: 80px;
}

a {
  padding: 10px 30px 10px;
  color: rgb(153, 153, 153);
  text-decoration: none;
}

.opinion {
  display: inline-block;
  margin: 20px auto 40px;
  font-size: 20px;
  font-weight: bold;
}

.active {
  font-weight: bold;
  color: #2D5084;
  text-decoration: none;
}

button {
  display: inline-block;
  margin: 0 20px 0 20px;
  padding: 5px 10px;
  width: 200px;
  background-color: #fff;
  color: #000;
  font-size: 24px;
  list-style-type: none;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.576);
}

button:hover {
  background-color: #dcf5fc;
  cursor: pointer;
}

.opinion_btn {
  margin: 20px;
  width: 100px;
  font-size: 14px;
  text-transform: uppercase;
  background-color: rgb(63, 63, 63);
  border: none;
  color: white;
  box-shadow: 3px 3px 3px grey;
}

.opinion_btn:hover {
  cursor: pointer;
  background-color: rgba(47,76,130,1);
}

h2 {
  padding-top: 20px;
}

ul {
  padding: 20px;
}

li {
  list-style-type: none;
}

.wrap {
  margin: 20px auto 0px;
  padding: 0;
  height: 450px;
  width: 600px;
  border: 20px solid #1791B3;
}

.titleBox {
  margin: -4px;
  padding: 0;
}

.error404 {
  font-size: 70px;
}

.starFav {
  padding-left: 20px;
  color:rgba(47,76,130,1); 
  cursor: pointer;
}

.favourite {
  color: #4ac0e1;
 }

 .backNav {
  padding: 10px;
  background: rgb(23,145,179);
  background: radial-gradient(circle, rgba(23,145,179,1) 32%, rgba(47,76,130,1) 100%);
}

.back-nav {
  margin: 30px 20px 50px 20px;
  width: 80px;
  color: #fff;
  font-size: 16px;
}


